{%extends 'base.html'%}

	{%block titulo%}
	/ {{ user }}
	{%endblock%}

	{% block links%}

	<link rel="stylesheet" href='{{ STATIC_URL }}css/about.css'>	
	<script src='{{ STATIC_URL }}js/jquery.min.js'></script>
	<script src='{{ STATIC_URL }}js/jquery.hoverIntent.js'></script>		
	<script src='{{ STATIC_URL }}js/main.js'></script>
	
	{% endblock %}



	{% block contenido %}
		<section>
	<a href="https://github.com/calosth/TrackTweet" id='forkme' target='_black'><img style="position: absolute; top: 48px; right: 0; border: 0; 	opacity: 0.8;
	" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
			<figure>	
				<img class="speech" src=" {{ STATIC_URL }}img/imageabout.jpg ">
			</figure>
			<h2>La iniciativa</h2>
			<p><strong>Tracktweet</strong> es una iniciativa personal, un proyecto para descubrir, aprender y experimentar.
				Es una sencilla herramienta para ver tu timeline con los tweets geolocalizados ubicados en el mapa. Funciona consumiendo del <a href="https://dev.twitter.com/docs/api/1.1">API REST de Twitter</a>, con los mapas de <a href="http://leafletjs.com/">Leaflet</a> (<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>), <a href="https://www.djangoproject.com/">Django</a> y <a href="https://github.com/ryanmcgrath/twython">Twython</a> una versatil libreria para conectar con el API de Twitter. Ademas <a href="http://api.jquery.com/">jQuery</a> (con algunos plugins), y el <a href="https://developers.google.com/maps/documentation/geocoding/?hl=en">API de Google Maps para la codificación geográfica inversa</a> para obtener las direcciones de los tweets geoposicionados 

			</p>
			<p>Carlos Linares, <a href="https://twitter.com/calosth">@calosth</a></p>
			<h2>Licencia</h2>
			<p>
			Creo que 
			<br/>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">TrackTweet</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
		</section>
	{% endblock  %}
