<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width , maximum-scale=1">
		<title>TrackTweet {% block titulo %} {%endblock%}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="stylesheet" href= '{{ STATIC_URL }}css/normalize.css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='{{ STATIC_URL }}css/estiloNinja.css'>
		{% block links %}	

		{% endblock %}
	</head>
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41532983-1', 'herokuapp.com');
		  ga('send', 'pageview');
	</script>
	<body>
		<header>
			<h1>Track Tweet</h1>
			<div id="perfil">
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/about">Sobre el Proyecto</a></li>
						<li><a href="/search">Buscar</a></li>

						{% if user != '' %}
							<li id="user">
								<div >								
										<span>{{ user }}</span>
										<img src='{{ profile_photo }}' />
										<div class='menuUser'>
											<a href="/logout">logout</a>
										</div>	 
										</div>	
								</div>
							</li>
						{%endif%}				

					</ul>
				</nav>
			</div>

			
			<div id='IconMenu-display'>

			</div >
			
			<div id= 'menu-display'>
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/about">Sobre el Proyecto</a></li>
						<li><a href="/search">Buscar</a></li>
						{% if user != '' %}
							<li id="userMenu">
								<div >
									<img src='{{ profile_photo }}' />
									<span>{{ user }}</span>
										<div class='menuUser'>
											<a href="/logout">logout</a>
										</div>	 
									</div>					
								</div>
							</li>		
						{%endif%}										
					</ul>
				</nav>					
			</div>

		</header>

		{%block contenido%}

		{%endblock%}	

	</body>
</html>