{% extends 'base.html' %}
	
	{%block titulo%}
	/ {{ user }}
	{%endblock%}

	{%block links%}
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css">
		<script src='{{ STATIC_URL }}js/jquery.min.js'></script>
		<script src='{{ STATIC_URL }}js/jquery.hoverIntent.js'></script>		
		<script src='{{ STATIC_URL }}js/jquery.timeago.js' ></script>
		<script src='{{ STATIC_URL }}js/jquery.infinitescroll.min.js' ></script>
		<script src='{{ STATIC_URL }}js/prefixfree.min.js'></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js" ></script>
    	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC84E7yvRwBWxsSaSHNvdLZMioVxdFZs_I&sensor=false"></script>		
		<script src='{{ STATIC_URL }}js/main.js'></script>
		<script src='{{ STATIC_URL }}js/codigoNinja.js'></script>
	{%endblock%}

	{%block contenido%}
			<section id='timeline'>			
			<hr/>
			<div id='newTweets'></div>

			<div id="tweets">
			{% for tweet in tweets %}	
				{% if tweet.geo %}
					<article class="tweet-geo" data-geo="{{ tweet.geo.coordinates }}" data-id= "{{ tweet.id }}">
				{% else %}
					<article class="tweet" >
				{% endif %}
					<a href="https://twitter.com/{{ tweet.user.screen_name }}" target='_black'>
						<img src=" {{ tweet.user.profile_image_url }} " />  
					</a>
					<p>
						<strong>
						{{ tweet.user.name }}
						</strong>
						<a href="https://twitter.com/{{ tweet.user.screen_name }}" target='_black'>@{{ tweet.user.screen_name }}</a>
						<attr class='timeago' title='{{ tweet.created_at }}'> {{ tweet.created_at }} </attr>
						<br/>
						{% autoescape off %}{{ tweet.text }}{% endautoescape %}
					</p>
				</article>
			{% endfor %}
			</div>
		<div id="backtimelineLoader"></div>
		</section>
		<section id='map'></section>

	{%endblock%}