<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset = "utf-8">
		<title>Track Tweet </title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="stylesheet" href= '{{ STATIC_URL }}css/normalize.css'>
		<link rel="stylesheet" href='{{ STATIC_URL }}css/estiloNinja.css'>

	</head>
	<body>
		<header>
			<h1>Track Tweet</h1>
			<div id="perfil">
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/about">Sobre el Proyecto</a></li>
						<li id="user">
							<div >
								<span>calosth</span>
								<img src='{{ STATIC_URL }}img/carlos.png' />
								<div id='menuUser'>
									<a href="/logout">logout</a>
								</div>	 
								</div>					
							</div>
						</li>						
					</ul>
				</nav>
			</div>
		</header>



	</body>
</html>