{% extends 'base.html' %}

	{% block links %}
		<link rel="stylesheet" href='{{ STATIC_URL }}css/estiloSearch.css'>
		<script src='{{ STATIC_URL }}js/jquery.min.js'></script>
		<script src='{{ STATIC_URL }}js/jquery.hoverIntent.js'></script>		
		<script src='{{ STATIC_URL }}js/jquery.timeago.js' ></script>
		<script src='{{ STATIC_URL }}js/main.js'></script>		
	{% endblock %}


	{% block contenido%}

		<section id= 'buscar'>
			<div id='formulario'>
				<form method='get' action='/search'>
					<input type='text'  name='search' autocomplete="off" placeholder= "buscar" />
					<button type = 'submit'></button>
				</form>
			</div>
		</section>

		<div id='blockmensajeSearch'>
			<h3>Realiza busquedas de hashtags y usuarios</h3>
		</div>
		<div id='blockmensajeGeo'>			
			<h3>Mira en el mapa desde dónde se hicieron los tweets</h3>
		</div>

	{% endblock %}