body
{
	background: #fcfcfc;
}
section{
	letter-spacing: 2px;	
	margin: 3em auto;
	width: 90%;
}
section a{
	color: #1a90d4;
	text-decoration: underline;
}

section p {
	text-align: justify;
	line-height: 1.6em;
	width: 40%;
}

.speech	{
	text-decoration: none;
	width: 59%;
}


section p , .speech{
	vertical-align: top;
	display: inline-block;
}
