body
{
	background: #f5f5f5;
}
h2{
	background: #333;
	color: #f5f5f5;
	font-weight: normal;
	letter-spacing: 2px;		
	margin: 0;
	padding: 0.5em;
}
section{
	background: white;
	border-radius: 2px;
	color: #343434;
	letter-spacing: 1px;	
	width: 100%;
}
section a{
	color: #1a90d4;
	text-decoration: underline;
}

section p {
	margin: 1em;
	/*padding: 1em;*/
	line-height: 1.4em;
	text-align: justify;
	width: 90%;
}

.speech	{

	text-decoration: none;
	width: 100%;
}


