
body {
	background: #323;
	color: #333;
	font-size: 16px;
	font-family: Helvetica;
	letter-spacing: 0.1em;	
	min-height:  600px;
}



header {
	background: url('images/iconheader.png') no-repeat left,#333;
	background-size: 214px 38px ;
	/*box-shadow: rgba(0,0,0,0.4) 0px 4px 10px;*/
	height: 3em;
	z-index: -1;
}

header h1
{
	color: rgba(3,3,3,0);
	font-weight: normal;
	margin: 0 1.7em;
	width: 10%

}
h1, #perfil{
	display: inline-block;
	vertical-align: top;
	height: 100%;
}
#map {
	height: 92%;
	max-height: 570px;
	position: fixed;
	width: 70%;
	z-index: 0;
}

#map , #timeline{
	display: inline-block;
	vertical-align: top;
}

#timeline{
	background: #e6e6e6;
	overflow: scroll;
	top: 40px;
	max-height: 570px;
	width: 30%;
	z-index: 0;
}

.menuUser{
	background: rgba(3,3,3,0.8);
	display: none;
	float: right;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	position: absolute;
	text-align: center;
	top: 3em;
	width: 126px;
	z-index: 1;
}
#menu-display{
	background: #333;
	display: none;
	height: 0px;
	position: absolute;
	text-align: center;
	width: 0px;
	z-index: 2;
}

#menu-display nav{
	display: none;
}

#menu-display ul{
	padding: 0;
	margin: 0;	
}

#menu-display ul li{
	padding-bottom: 0.4em;
	text-decoration: none;
}
#menu-display #userMenu{
	cursor: pointer;
}
#menu-display #userMenu span{
	display: block;
	font-size: 0.8em;	
	color: #CCC;
}

#menu-display #userMenu :hover{
	color: #0fb9ff;
	text-decoration: none;
	-webkit-transition: all 0.1s linear;
}

#menu-display #userMenu img{
	border: white 1px solid;
	width: 34px;
}

#IconMenu-display{
	background: url('images/display-menu96x96.png') no-repeat center;
	background-size: 48px 48px;
	display: none;
	cursor: pointer;
}
#newTweets{
	background: url('images/refreshIcon.png') no-repeat 4em;
	background-color: #ffffff;
	background-size: 1em 1em;
	color:#b3b3b3;
	cursor: pointer;
	display: none;
	margin: 0.5em;
	padding: 0.7em;
	text-align: center;
	-webkit-transition: all 0.4s linear;
}

#adduser {
	background: url("images/texture.png") repeat;
	border-radius: 0.2em;
	color: white;
	margin: 1em 0.5em;
	padding: 0.5em 0.5em;
	text-align: center;
	text-decoration: none;
}

#adduser a: hover
{	
	color: white;
}


#perfil
{
	font-size: 1em;	
	float: right;
}

#perfil ul{
	margin-top: 0.4em;
	padding: 0;
}

#perfil ul li
{
	vertical-align: middle;
	display: inline-block;
	padding:  0 1em;
}
#perfil ul li a, #menu-display ul li a
{
	color: #CCC;
	text-decoration: none;
	-webkit-transition: all 0.1s linear;
}
#perfil ul li a:hover, #menu-display ul li a:hover
{
	color: #0fb9ff;
	text-decoration: none;
}

#perfil #user
{
	border-left: 1px dotted;
	color: #CCC;
	text-align: left;
	height: 100%;
}
#perfil #user span
{
	margin-top: 0.6em;
	display: inline-block;
	vertical-align: top;

}

#perfil #user img
{
	border: #CCC solid 2px;
	width: 1.8em;
}

.timeago{
	color: #c8c9c3;
	font-size: 0.9em;
	float: right;
}

.tweet
{
	background: #ffffff;
	border-radius: 0.3em;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
	color: #404040;
	font-size: 0.85em;
	letter-spacing: 0px;	
	margin: 0.5em;
	padding: 0.7em;
	transition: all 0.4s linear;

}
.tweet-geo
{
	background:  url('images/MiniMarker.png') no-repeat right 10% top 15% ,#ffffff;
	border-radius: 0.3em;
	border: dashed 0.1em;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
	color: #404040;
	font-size: 0.85em;
	letter-spacing: 0px;	
	margin: 0.5em;
	padding: 0.7em;
	transition: all 0.4s linear;
	cursor: pointer;

}
.tweet:hover
{
	background: #b6b6b6;
}
.tweet img{
	width: 3.8em;
	border-radius: 0.2em;
}

.tweet p{
	margin: 0 0 0 0.4em;
	width: 82%;
}
.tweet img , .tweet p
{
	display: inline-block;
	vertical-align: top;
}
.tweet a
{
	color:  rgb(54, 159, 230);
	text-decoration: none;
}
.tweet a:hover
{
	text-decoration: none;
}

.tweet-geo:hover
{
	background: url('images/MiniMarker.png') no-repeat right 10% top 15%,#b6b6b6;
}
.tweet-geo img{
	width: 3.8em;
	border-radius: 0.2em;
}

.tweet-geo p{
	margin: 0 0 0 0.4em;
	width: 82%;
}
.tweet-geo img , .tweet-geo p
{
	display: inline-block;
	vertical-align: top;
}
.tweet-geo a
{
	color: #336699;
	text-decoration: none;
}
.tweet-geo a:hover
{
	text-decoration: none;
}

#user{
	cursor: pointer;
}

#user :hover{
	transition: all 0.4s linear;
	color: #336699;
}



@media screen and (max-width: 664px){


	#perfil
	{
		display: none;
	}

	#IconMenu-display{
		display: inline-block;
		float: right;
		height: 48px;
		margin: 0;
		margin-right: 1.5em;
		padding: 0;
		width: 48px;
	}
	#menu-display{
		
		height: auto;
		width: 100%;
		z-index: 2;
	}

	#menu-display nav{
		display: block;
	}

	#menu-display .menuUser{
		background: #333;
		display: none;
		position: absolute;
		top: 8em;
		width: 100%;
	}


}



