body {
	background: url('images/idax.jpg') repeat center center;

}

#blockmensajeSearch{
	background: url('images/search-icon100x100.png') no-repeat  left top ;
	background-size: 60px 60px;

}

#blockmensajeSearch, #blockmensajeGeo{
	color: white;
	text-align: left;
	margin: auto ;
	letter-spacing: 0.2em;
	font-weight: normal;
	height: 6em;
	width: 30em;
}


#blockmensajeGeo{
	background: url('images/marker-icon100x100.png') no-repeat  left top ;	
	background-size: 60px 60px;
}

#blockmensajeSearch h3, #blockmensajeGeo h3{
	font-size: 1em;
	font-weight: normal;
	margin-left: 3.8em ;
	margin-bottom: 5em;

}
#buscar{
	background: url("images/texture.png") repeat;
	border-radius: 3px;
	display: table;
	height: 8em;
	margin: 6em auto;
	width: 50%;
}

#buscar #formulario{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#buscar input[type=text]{

	border-radius: 5px;
	border: 1px solid #333;
	box-shadow: inset 0 0 10px  rgba(0,0,0,0.9);
	padding: 0.6em;
	margin: 0;
	margin-bottom: 0.3em;
	letter-spacing: 0.1em;	
	width: 10em;
}

#boxresultadoBusqueda{
	background: url('images/down-tip.png') no-repeat center bottom;
	padding: 8px;
}

#buscar input[type=text], #buscar button{
	vertical-align: top;
}

#buscar button{
	background: url('images/search-icon25x25.png') no-repeat center,#5450f8;
	border: 0px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 5em;
	height: 2.4em;
}
#buscar input[type=text]:focus{
	border: 1.5px solid #3366cc;
	outline: 0;
}

#resultadoBusqueda{
	background: #4c4c4c;
	color: #e6e6e6;
	padding: 1em;
	margin: 0.4 0.4 0 0.4em;
	text-align: center;
}
#resultadoBusqueda strong{

	color: #ff3300;
}

@media screen and (max-width: 664px){
	body {
		background-color: #333333;
		background-repeat: no-repeat;
		background-position: top;
		background-size: 110%;
	}	

	#blockmensajeSearch, #blockmensajeGeo{	
		width: 90%;
	}
	#buscar #formulario{
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}